body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
}

.card {
    background-color: rgb(184, 230, 230);
    padding: 1.5rem 2rem;
    text-align: center;
    max-width: 300px;
    margin: 3rem;
    border-radius: 0.5rem;
    border: 1px solid;
    margin: 3rem auto;
}
.card-1{
    border-color: rgb(238, 121, 121);
}
.card-2{
    border-color: rgb(178, 178, 225);
}
.icon{ width: 40px;
    height: 40px;
    
    border-radius: 50%;
    margin: 0 auto;
    /* auto betyder teksten bliver i centrum */
}
    
.card-1 .icon{
    background-color: rgb(238, 121, 121);
}

.card-2 .icon{
    background-color: rgb(131, 131, 230)  ;
}
.title{
    text-transform: capitalize;
    letter-spacing: 1px;
}
.text{
    line-height: 1.5;
    color: grey;
}
.btn{
    text-transform: capitalize;
    border: transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    letter-spacing: 2px;
}
.btn-pink{
    background-color:rgb(252, 205, 205) ;
    color: rgb(238, 121, 121);
}
.btn-blue{
    background-color:rgb(216, 216, 250)  ;
    color: rgb(131, 131, 230) ;
}